@charset "UTF-8";
@import url("./reset.css");
/* 반응형 변수 */
@import url("./reset.css");
/*root값 설정*/
/* header */
header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;
  /* pc hover */
}
header::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 233px;
  position: absolute;
  top: 0%;
  z-index: -1;
  display: none;
}
header .header-wrap {
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap h1 {
  position: relative;
  left: 48px;
}
header .header-wrap h1 img {
  transform: scale(0.7);
  transform-origin: left center;
}
header .header-wrap nav {
  width: 60%;
}
header .header-wrap nav ul {
  padding: 0;
  display: flex;
}
header .header-wrap nav ul li {
  width: 100%;
  text-align: center;
  position: relative;
}
header .header-wrap nav > ul > li > a {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
header .header-wrap nav > ul > li > a::after {
  content: "";
  display: block;
  border-bottom: 3px solid black;
  width: 0%;
  margin: 0 auto;
}
header .header-wrap .drop-down-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  display: none;
}
header .header-wrap .drop-down-menu li {
  width: 100%;
  margin: 5px 0;
}
header .header-wrap .drop-down-menu li a {
  font-size: 15px;
  font-weight: lighter;
}
header .header-wrap .drop-down-menu li a:hover {
  font-weight: 400 !important;
}
header .header-wrap .header-ico-menu span {
  width: 45%;
  height: 1px;
}
header .header-wrap .trigger {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}
header .header-wrap .trigger span {
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  border-radius: 3px;
  margin: 6px 0;
}
header .header-wrap .trigger span.shortline {
  width: 70%;
}
@media (min-width: 1200px) {
  header:hover::after {
    display: block;
  }
  header:hover .header-wrap .drop-down-menu {
    display: block;
  }
  header:hover .header-wrap nav ul li:hover a::after {
    transform: translateY(100%);
    font-weight: 600 !important;
    width: 0%;
    display: block;
    animation: line-1 0.3s forwards;
  }
  @keyframes line-1 {
    100% {
      width: 100%;
    }
  }
  header:hover nav ul li a {
    color: white;
    font-weight: 400 !important;
  }
  header:hover nav ul li a::after {
    border-bottom: 2px solid white;
  }
  header:hover .drop-down-menu li a {
    color: white;
    font-weight: 300 !important;
  }
  header:hover .trigger > span {
    display: block;
    width: 100%;
    border-bottom: 1px solid white;
  }
}
header.active2 {
  transform: translateY(-100%);
  transition: 1s;
  background: rgba(255, 255, 255, 0.3);
}

/* footer */
footer {
  width: 100%;
  height: 165px;
  padding-top: 40px;
  background-color: #383838;
}
footer .footer {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .footer {
    margin: 0 24px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  footer .footer {
    margin: 0 48px;
  }
}

.footer_logo {
  position: relative;
}
.footer_logo > h1 a img {
  transform: scale(0.7);
}
@media (max-width: 767px) {
  .footer_logo > h1 a img {
    width: 100%;
  }
}
.footer_logo > p {
  width: 506px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: 14%;
}
@media (max-width: 767px) {
  .footer_logo > p {
    width: 300px;
    font-size: 10px;
  }
}

.footer_menu {
  width: 430px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer_menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .footer_menu {
    display: none;
  }
}
.footer_menu > a > li {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.familysites {
  font-size: 12px;
  color: #fff;
  position: relative;
}
@media (max-width: 767px) {
  .familysites {
    margin-top: 10px;
    margin-right: 24px;
  }
}
.familysites .familysitesgo {
  max-width: 160px;
  height: 40px;
  display: inline-block;
  border: 1px solid #fff;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.familysites .familysitesgo > .familyarrow {
  transition: 0.3s;
}
.familysites .familysitesgo .familyarrow_on {
  transform: rotate(180deg);
}
.familysites .familysitesgo_on {
  border-top: none;
  transition: 0.3s;
}
.familysites .family_menu {
  display: none;
  max-width: 160px;
  padding: 0 15px 5px;
  background-color: #383838;
  border: 1px solid #fff;
  border-bottom: none;
  position: absolute;
  bottom: 100%;
}
.familysites .family_menu > li {
  display: block;
  padding-top: 5px;
}
.familysites .family_menu_on {
  display: block;
}

/* main */
.container {
  background-color: white;
  overflow: hidden;
  margin-top: 600px;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    margin-top: 0;
  }
}

/* banner */
.banner_ {
  width: 100%;
  height: 600px;
  position: fixed;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  .banner_ {
    height: 70vh;
    position: static;
  }
}
.banner_ > .banner_bgimg {
  width: 100%;
  height: 100%;
}
.banner_ > .banner_bgimg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s ease-in-out;
  transform: scale(1.07);
  animation: imga 1s 0s forwards;
}
.banner_ > .banner_title {
  max-width: 550px;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  word-break: keep-all;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 767px) {
  .banner_ > .banner_title {
    top: 40%;
    width: 100%;
    padding: 0 24px;
    word-break: keep-all;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .banner_ > .banner_title {
    width: 550px;
  }
}
.banner_ > .banner_title > b {
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  color: #fff;
  display: block;
  transform: translateY(50px);
  animation: txt-bold 0.7s 0s forwards;
}
@media (max-width: 767px) {
  .banner_ > .banner_title > b {
    width: 100%;
    font-size: 26px;
  }
}
.banner_ > .banner_title > p {
  width: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
  padding: 40px 30px 0;
  opacity: 0;
  transform: translateY(-50px) translateZ(0);
  animation: txt-p 0.7s 0s forwards;
}
@media (max-width: 767px) {
  .banner_ > .banner_title > p {
    width: 100%;
    font-size: 18px;
    padding-top: 20px;
  }
}

@keyframes imga {
  to {
    transform: scale(1);
  }
}
@keyframes txt-bold {
  to {
    transform: translateY(0%);
  }
}
@keyframes txt-p {
  to {
    opacity: 1;
    transform: translateY(0%) translateZ(100px);
  }
}
/* link, title */
.top_link {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 110px;
}
@media (max-width: 767px) {
  .top_link {
    margin-top: 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin: 0 24px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .top_link {
    margin-top: 30px;
    padding: 10px 48px;
  }
}
.top_link a {
  display: inline-block;
  font-size: 15px;
}
@media (max-width: 767px) {
  .top_link a {
    font-size: 12px;
  }
}
.top_link a:last-of-type {
  font-weight: bold;
  color: #000;
}
.top_link a::after {
  content: " ";
  background-image: url(../img/banner_top/arrow.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 6px;
  height: 14px;
  padding: 0;
  margin: 0 7px;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 767px) {
  .top_link a::after {
    width: 5px;
    height: 12px;
  }
}
.top_link a:last-of-type::after {
  content: "";
  background: none;
}

h2 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin: 110px 0;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
    margin: 50px 0 24px;
  }
}

.top-btn {
  display: none;
  display: inline-block;
  position: fixed;
  top: 98%;
  left: 50%;
  transform: translateX(-50%) translateY(-98%);
  width: 26px;
  height: 26px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.7s ease;
}
@media (max-width: 767px) {
  .top-btn {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .top-btn {
    display: flex;
  }
}

.top-btn-on {
  opacity: 1;
  display: none;
}
@media (max-width: 767px) {
  .top-btn-on {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .top-btn-on {
    display: flex;
  }
}

@media (max-width: 1200px) {
  header .header-wrap h1 {
    position: absolute;
    left: 48px;
    top: 12%;
    z-index: 10;
  }
  header .header-wrap nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding: 100px 48px 0px;
    display: none;
  }
  header .header-wrap nav ul {
    flex-direction: column;
  }
  header .header-wrap nav > ul > li {
    width: 100%;
    text-align: left;
    position: relative;
  }
  header .header-wrap nav > ul > li > a::before {
    content: url(../img/main/more_arrow.svg);
    position: absolute;
    right: 0;
    top: 0;
  }
  header .header-wrap .drop-down-menu {
    position: static;
    padding: 10px 0;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }
  header .header-wrap .drop-down-menu li {
    text-align: left;
  }
  header .header-wrap .trigger {
    display: block;
    width: 25px;
    position: absolute;
    right: 48px;
    top: 25%;
    z-index: 10;
  }
  header.active::after {
    display: block;
    display: none;
  }
  header.active .header-wrap .drop-down-menu {
    display: block;
  }
  header.active .header-wrap nav {
    display: block;
  }
  header.active .header-wrap nav ul li.active a::after {
    transform: translateY(100%);
    font-weight: 600 !important;
    width: 0%;
    display: block;
    margin: 0;
    animation: line-1 0.3s forwards;
  }
  @keyframes line-1 {
    100% {
      width: 100%;
    }
  }
  header.active .header-wrap nav ul li.active .drop-down-menu {
    padding: 30px 0;
    max-height: 200px;
  }
  header.active nav ul li a {
    color: black;
    font-weight: 400 !important;
  }
  header.active .drop-down-menu li a {
    color: black;
    font-weight: 300 !important;
  }
  header.active .trigger > span {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.3s;
  }
  header.active .trigger > span:nth-of-type(1) {
    transform: rotate(45deg);
  }
  header.active .trigger > span:nth-of-type(2), header.active .trigger > span:nth-of-type(4) {
    display: none;
  }
  header.active .trigger > span:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  header.active h1 img {
    filter: brightness(0%);
  }
}
/* 서식지 외 보전기관 */
.content_ {
  padding: 110px;
}
@media (max-width: 767px) {
  .content_ {
    padding: 0 24px 50px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content_ {
    padding: 0 48px 50px;
  }
}

.content_habitat {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 767px) {
  .content_habitat {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content_habitat {
    width: 100%;
  }
}

.content_habitat > b {
  font-size: 25px;
}
@media (max-width: 767px) {
  .content_habitat > b {
    font-size: 18px;
    word-break: keep-all;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .content_habitat > b {
    font-weight: 600;
  }
}

.content_habitat > b > span {
  color: #ff6600;
}

.content_habitat > p {
  margin-top: 50px;
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}
@media (max-width: 767px) {
  .content_habitat > p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 24px;
  }
}
.content_habitat > div {
  margin-top: 46px;
  font-size: 18px;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .content_habitat > div {
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
  }
}

.content_habitat > div > p {
  margin-bottom: 16px;
}

.content_habitat > div > .popup-open {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .content_habitat > div > .popup-open:hover {
    border: none;
    background-color: rgba(255, 102, 0, 0.8);
    color: white;
  }
}
@media (max-width: 767px) {
  .content_habitat > div > .popup-open {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
  }
}

.popup-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 767px) {
  .popup-wrap {
    z-index: 3;
  }
}
.popup {
  position: relative;
  padding: 50px;
  width: 800px;
  height: 650px;
  background-color: white;
  z-index: 9999;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .popup {
    width: 100%;
    height: 100vh;
    padding: 33px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .popup {
    width: 700px;
    height: 700px;
    padding: 33px;
  }
}

.name {
  width: 700px;
  font-weight: 700;
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  line-height: 1;
}
@media (max-width: 767px) {
  .name {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.popup .close-button-1 {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.popup > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(0, 0, 0, 0.75);
  text-align: justify;
  overflow-y: auto;
  height: 450px;
  padding: 0 10px 0 0;
}
@media (max-width: 767px) {
  .popup > p {
    font-size: 16px;
    letter-spacing: -0.3px;
    overflow-y: auto;
    height: 82%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .popup > p {
    height: 500px;
    padding: 0;
  }
}

.popup .close-button-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: white;
  background-color: #ff6600;
}