@import "./_common";
@import url("./reset.css");

$mobile:767px;
$tablet:768px;
$pc:1200px;

@mixin res($device){
    @if($device == 'mobile'){
        @media(max-width:$mobile){
            @content;
        }        
    }
    @else if($device == 'tablet'){
        @media (min-width:$tablet) and (max-width:$pc){
            @content;
        }  
    }
    @else{
        @media (min-width:$pc){
            @content;
        }  
    }
}

@include res('tablet'){}




/* main content */
.content_{
    @include res('mobile'){
        margin: 0 24px;
    }
    @include res('tablet'){
        margin: 0 48px;
    }
    .mini-title{
        max-width: 1400px;
        margin: 0 auto;
        .title-text{
            font-size: 18px;
            line-height: 160%;
            text-align: center;
            @include res('mobile'){
                font-size: 16px;
                // word-break: keep-all;
                text-align: justify;

            }
            @include res('tablet'){
                // word-break: keep-all;
                text-align: justify;

            }
            @include res('tablet'){
                
            }
            br{
                @include res('mobile'){
                    display: none;
                }
                @include res('tablet'){
                    display: none;
                }
            }
        }
        .title-content-line{
            display: inline-block;
            width: 1400px;
            border: 1px solid #dddddd;
            margin: 70px 0;
            @include res('mobile'){
                width: 100%;
                margin: 50px 0;
            }
            @include res('tablet'){
                width: 100%;
            }
        }
    }

    /* 최신 수행연구 카드리스트 */

    .content_cardlist{
        max-width: 1400px;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include res('mobile'){
            flex-wrap: wrap;
            gap: 20px 0;
        }
        @include res('tablet'){
            flex-wrap: wrap;
            gap: 20px 30px;
            justify-content: space-around;
        }
        .content_card{
            width: 300px;
            height: 305px;

            position: relative;
            border: 1px solid transparent;
            transition: .7s;
            @include res('mobile'){
                width: 46%;
                height: 290px;
            }

            >a{
                .card-img{
                    width: 100%;
                    height: 220px;
                    background-color: #eeeeee;

                    position: relative;
                    >img{
                        max-width: 160px;
                        height: 190px;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        @include res('mobile'){
                            width: 130px;
                        }
                    }
                }
                figcaption{
                    max-width: 200px;
                    margin: 17px auto;
                    @include res('mobile'){
                        margin: 10px auto;
                    }
                    >p{
                        width: 100%;
                        height: 22px;
                        overflow: hidden;
                        text-align: center;
                        font-size: 18px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        @include res('mobile'){
                            font-size: 14px;
                        }
                    }
                    >p:nth-of-type(2){
                        width: 100%;
                        margin-top: 5px;
                        font-size: 14px;
                        opacity: 75%;
                        @include res('mobile'){
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .content_card::before{
            content: '';
            position: absolute;
            left: 0px;
            bottom:0px;
            width: 0%;
            height:2px;
            background: rgba(255, 102, 0, .6);
            transition: .7s;
            display: block;
        }
        .content_card:hover::before{
            width: 100%;
        }
        .content_card::after{
            content: '';
            position: absolute;
            right: 0px;
            top:0px;
            z-index:-1;
            width: 0%;
            height:2px;
            background: rgba(255, 102, 0, .6);
            transition: .7s;
            display: block;
        }
        .content_card:hover::after{
            width: 100%;
            z-index: 2;
        }
        .content_card:hover{
            border-left: 2px solid rgba(255, 102, 0, .6);
            border-right: 2px solid rgba(255, 102, 0, .6);
        }

    }

    /* 수행연구 리스트 */

    .content_research_list{
        max-width: 1400px;
        margin: 0 auto;
        margin-bottom: 110px;
        @include res('mobile'){
            margin-bottom: 50px;
        }
        @include res('tablet'){
            margin-bottom: 70px;
        }
        

        .content_list-top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            @include res('mobile'){
                flex-direction: column-reverse;
                margin-top: 50px;
            }
            >.list-info{
                display: flex;
                flex-direction: row;
                @include res('mobile'){
                    justify-content: space-between;
                }
                >p{
                    padding-top: 18px;
                    font-size: 18px;
                    opacity: .75;
                    @include res('mobile'){
                        font-size: 13px;
                        padding-bottom: 3px;
                    }
                    >span{
                        color: rgba(255, 102, 0, .75);
                        font-weight: 700;
                    }
                }
                >a{
                    padding-top: 21px;
                    padding-left: 18px;
                    font-size: 16px;
                    opacity: .75;
                    @include res('mobile'){
                        font-size: 13px;
                        padding-bottom: 3px;
                    }
                }
            }
            .list-search{
                
                form{
                    width: 250px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
                @include res('mobile'){
                    margin: 0 auto;
                    border: 1px solid rgba(85, 85, 85, .2);
                    width: 100%;
                }
                    >span{
                        border: 1px solid #ddd;
                        @include res('mobile'){
                            border: none;
                            width: 70%;
                        }
                        >input{
                            border-style: none;
                            font-size: 14px;
                            height: 30px;
                            padding-left: 10px;
                            @include res('mobile'){
                                width: 100%;
                            }
                        }
                    }
                    .search-btn{
                        width: 33px;
                        height: 33px;
                        background-image: url(../img/aqua/search.svg);
                        display: block;
                    }

                }
            }
        }

        .research_list{
            width: 100%;
            margin-top: 24px;
            @include res('mobile'){
                margin-top: 0;
            }
            .research_list_menu{
                transition: .7s;
                >a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 36px 30px;
                    width: 100%;
                    border-top: 0.5px solid #dddddd;
                    border-bottom: 0.5px solid #dddddd;
                    @include res('mobile'){
                        padding: 20px 10px;
                        width: 100%;
                    }
                    .year{
                        display: inline-block;
                        >p{
                            font-size: 25px;
                            opacity: .2;
                            font-weight: 500;
                            @include res('mobile'){
                                font-size: 15px;
                            }
                        }
                    }
                    .list-title{
                        width: 900px;
                        @include res('mobile'){
                            width: 200px;
                        }
                        @include res('tablet'){
                            width: 60%;
                        }
                        >p{
                            font-size: 14px;
                            opacity: .75;
                            @include res('mobile'){
                                font-size: 12px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                            @include res('tablet'){
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                        >P:last-of-type{
                            font-size: 17px;
                            opacity: 1;
                            font-weight: 500;
                            @include res('mobile'){
                                font-size: 15px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .list-go{
                        display: inline-block;
                        >span{
                            display: block;
                            width: 60px;
                            height: 60px;
                            @include res('mobile'){
                                width: 30px;
                                height: 30px;
                            }
                            >img{width: 100%;}
                        }
                    }
                }
                &.research_list_menu:hover{
                    border-top: 0.5px solid #ff6600;
                    border-bottom: 0.5px solid #f60;
                    color: #f60;
                }
            }

            >.research_list_menu:last-of-type{
                >a{
                    border-bottom: 1px solid #dddddd; 
                }
                >a:hover{
                    border-bottom: 1px solid #f60; 
                }
            }
        }
        
        .page{
            // display: inline-block;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            @include res('mobile'){
                margin: 50px 0;
            }
            .page-btn{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}    