@import "./_common";
@import url("./reset.css");

$mobile:767px;
$tablet:768px;
$pc:1200px;

@mixin res($device){
   @if($device == 'mobile'){
      @media(max-width:$mobile){
         @content;
      }        
   }
   @else if($device == 'tablet'){
      @media (min-width:$tablet) and (max-width:$pc){
         @content;
      }  
   }
   @else{
      @media (min-width:$pc){
         @content;
      }  
   }
}

.content_{
   max-width: 1200px;
   margin: 0 auto;
   margin-bottom: 110px;
   @include res('mobile'){
      margin: 0 24px 50px 24px;
   }
   @include res('tablet'){
      margin: 0 48px 50px 48px;
   }
   .center4{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      gap: 24px;
      @include res('tablet'){
         gap: 0px;
      }
      >figure{
         position: relative;
         @include res('mobile'){
            display: flex;
            flex-direction: column;
            width: 100%;
         }
         @include res('tablet'){
            width: 48%;
            display: flex;
            flex-direction: column;
            margin-bottom: 48px;
         }
         >img{
            width: 100%;
         }
         >figcaption{
            position: absolute;
            left: 0; bottom: 0;
            z-index: 2;
            width:100%;
            padding:5px 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            @include res('mobile'){
               font-size: 18px;
               display: none;
            }
            @include res('tablet'){
               display: none;
            }
         }
         >.back{
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            padding-left: 30%;
            left: 0; top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            opacity: 0;
            transition: 0.8s;
            >a{
               >span{
                  font-weight: 600;
                  font-size: 25px;
                  @include res('mobile'){
                     font-size: 16px;
                  }
                  @include res('tablet'){
                     font-size: 23px;
                  }
               }
               >ul{
                  text-align: left;
                  margin-top: 20px;
                  @include res('mobile'){
                     margin-top: 10px;
                  }
                  >li{
                     position: relative;
                     font-weight: 400;
                     font-size: 18px;
                     line-height: 140%;
                     &::before{
                        content:"â—";
                        font-size: 5px;
                        position: absolute;
                        left: -10px; top: 10%;
                        @include res('mobile'){
                           font-size: 3px;
                        }
                     }
                     @include res('mobile'){
                        font-size: 16px;
                     }
                  }
               }
            }
            @include res('mobile'){
               opacity: 1;
               background-color: transparent;
               position: static;
               color: black;
               padding-left: 10%;
               align-items: left;
               margin-top: 16px;
            }
            @include res('tablet'){
               opacity: 1;
               background-color: transparent;
               position: static;
               color: black;
               padding-left: 10%;
               align-items: left;
               margin-top: 16px;
               justify-content:flex-start;
            }
            
         }
         &:hover{
            >figcaption{
               opacity: 0;
            }
            >.back{
               opacity: 1;
            }
         }
      }
   }
   .semititle{
      margin-top: 70px;
      margin-bottom: 99px;
      font-weight: 600;
      font-size: 35px;
      color: black;
      text-align: center;
      @include res('mobile'){
         font-size: 20px;
         margin: 50px 0;
      }
   }
   .nine{
      li{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin-bottom: 21px;
         @include res('mobile'){
            flex-direction: column;
            align-items: center;
            gap: 10px;
         }
         @include res('tablet'){
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin-bottom: 24px;
         }
         &:nth-of-type(1){
            .iconbox{
               background-color: #FCE6E6;
               >img{
                  width: 100px;
               }
               @include res('mobile'){
                  gap: 20px
               }
            }
         }
         &:nth-of-type(2){
            .iconbox{
               background-color: #DDFACB;
            }
         }
         &:nth-of-type(3){
            .iconbox{
               background-color: #D9E3FB;
            }
         }
         .iconbox{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 386px;
            height: 386px;
            gap: 36px;

            opacity: 0;
            transform: translateX(-50px) translateZ(0);
            transition: opacity .7s ease, transform 0.5s ease-out;
            &.observer{
               opacity: 1;
               transform: translateX(0) translateZ(100px);
            }
            @include res('mobile'){
               width: 100%;
               gap: 10px;
               word-break: keep-all;
               // height: 100vw;
            }
            @include res('tablet'){
               flex-direction: row;
               width: 100%;
               height: 300px;
               gap: 30px;
               word-break: keep-all;
            }
            >img{
               width: 130px;
            }
            >.summary{
               width: 288px;
               text-align: center;
               >span{
                  // display: block;
                  font-weight: 500;
                  font-size: 25px;
                  color: black;
                  @include res('mobile'){
                     font-size: 16px;
                     font-weight: 600;
                  }
               }
               >p{
                  margin-top: 22px;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 140%;
                  color: rgba(0, 0, 0, 0.75);
                  @include res('mobile'){
                     font-size: 16px;
                     margin-top: 15px;
                  }
               }
            }
         }
      }
   }
}